@{
    ViewBag.Title = "UnSuccess";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Món Ăn Ngon - Thanh Toán Không Thành Công</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 50px;
        }

        .alert-container {
            max-width: 600px;
            margin: 0 auto;
        }

        .alert-icon {
            font-size: 36px;
            margin-right: 15px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="alert alert-danger alert-container" role="alert">
            <div class="d-flex align-items-center">
                <span class="alert-icon">&#9888;</span>
                <div>
                    <h4 class="alert-heading">Thanh Toán Không Thành Công!</h4>
                    <p>Có lỗi xảy ra trong quá trình thanh toán. Vui lòng thử lại sau hoặc liên hệ với chăm sóc khách hàng.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
